apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: memcached-rate
    intel.dsb.type: database
  namespace: {{ namespace }}
  name: memcached-rate
spec:
  ports:
    - name: "11211"
      port: 11211
      targetPort: 11211
  selector:
    io.kompose.service: memcached-rate
    intel.dsb.type: database
status:
  loadBalancer: {}
