apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: profile
    intel.dsb.type: microservice
  namespace: {{ namespace }}
  name: profile
spec:
  ports:
    - name: "8081"
      port: 8081
      targetPort: 8081
  selector:
    io.kompose.service: profile
    intel.dsb.type: microservice
status:
  loadBalancer: {}
