apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: reservation
    intel.dsb.type: microservice
  namespace: {{ namespace }}
  name: reservation
spec:
  ports:
    - name: "8087"
      port: 8087
      targetPort: 8087
  selector:
    io.kompose.service: reservation
    intel.dsb.type: microservice
status:
  loadBalancer: {}
